# Arquivos de ambiente
.env

# Diretórios de dados
postgres_data/
minio_data/
typebot_data/
evolutionapi_data/

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Dependências e diretórios específicos do sistema
node_modules/
__pycache__/
*.py[cod]
*$py.class
